
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    
	width: 440px;
	min-height: 440px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 85px;
    width: 85px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 22px;
}

.deck .card.match {
    cursor: default;
    font-size: 22px;
    background: #02ccba;
}

.deck .card.unmatch {
    animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
    cursor: default;
    background: #e25e11;
    font-size: 22px;
}
.deck .card.disabled {
	pointer-events: none;
    opacity: 0.9;
}

.deck .card.enabled {
	pointer-events: default;
	
}
/*
 * Styles for the Score Panel
 */

 .score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .timer {
    font-family: 'Coda', cursive;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


.overlay{
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(252, 249, 249);
    visibility: hidden;	
}
.popup{
    
    text-align:center;
    width:90%;
    margin:200px auto;
}

.content-1, 
.content-2{
    font-size: 1.1rem;
}

.show{
    visibility: visiable !important;
}
.collapse{
    visibility: collapse;
}
#play-again{
    background:#02ccba;
    color:white;
    border: none;
    margin: 0 auto;
    font-family: cursive;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    display: inline-block;
}

/* Responsive */
@media screen and (max-width: 320px){
    .container {
		font-size: 11px;
    }
    .score-panel{
        width: 80%; 
    }
    .deck {
        width: 86%;
        min-height:275px;
        padding: 10px;
    }
    .deck .card {       
        height: 3.1rem;
		width: 3.1rem;
        margin: 0.3rem;
    }
    .deck .card.show,
    .deck .card.match,
    .deck .card.unmatch{
        font-size:14px;
    }
    .popup{
    
        text-align:center;
        width: 68%;
        margin: 100px auto
    }
    .content-1 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px){
    .container {
		font-size: 12px;
    }
    
    .score-panel{
        width: 80%; 
    }
    .deck {
        width: 86%;
        min-height:320px;
        border-radius: 10px;
        padding:15px;
        margin-left:auto;
        margin-right: auto;
        margin: 0 0 1em;  
         
    }
    .deck .card {       
        height: 3.6rem;
		width: 3.6rem;
        margin: 0.3rem;
    }
 
    .deck .card.show,
    .deck .card.match,
    .deck .card.unmatch{
        font-size:16px;
    }
    .popup{
    
        text-align:center;
        width: 68%;
        margin: 130px auto
    }
}
@media screen and (min-width: 401px) and (max-width: 450px){
    .deck {
        width: 86%;
        min-height:350px;
        border-radius: 10px;
        padding:15px;
        margin-left:auto;
        margin-right: auto;
        margin: 0 0 1em;  
         
    }
    .deck .card {       
        height: 3.9rem;
		width: 3.9rem;
        margin: 0.3rem;
    }
    .deck .card.show,
    .deck .card.match,
    .deck .card.unmatch{
        font-size:15px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
	.container {
		font-size: 22px;
	}


    .deck {
        width: 540px;
        min-height:550px;
        border-radius: 10px;
        padding:15px;
        margin-left:auto;
        margin-right: auto;
        margin: 0 0 1em;  
         
    }
    .deck .card {       
        height: 6rem;
		width: 6rem;
        margin: 0.3rem;
    }
	.popup {
        width: 90%;    
    }
    .content-1, .content-2 {
        font-size: 1.2rem;
    }

}
